<%= form_tag @retpath do %>

  <label>Имя страницы</label> <br/>

  <input type="text" name="name" maxlength="250"> <br/><br/>


  <label>Заголовок страницы</label> <br/>

  <textarea name="label" cols="40" rows="2" maxlength="250"></textarea> <br/><br/>


  <label>Текст</label> <br/>

  <textarea name="source" cols="40" rows="4"></textarea> <br/><br/>
  

  <button type="submit">Отправить</button>

<% end %>
